extends layout

mixin outputRating(rating)
  - for (var i = 1; i <= rating; i++)
    span.glyphicon.glyphicon-star
  - for (i = rating; i < 5; i++)
    span.glyphicon.glyphicon-star-empty

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Loc8r
          small &nbsp;Find places to work with WiFi near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
      each location in locations
        .col-xs-12.list-group-item
          h4
            a(href="/location")= location.name
            small &nbsp;
            +outputRating(location.rating)
            span.badge.pull-right.badge-default= location.distance
          p.address= location.adress
          p
          each facility in location.facilities
            span.label.label-warning= facility
            | &nbsp;            
    .col-xs-12.col-sm-4
      p.lead Looking for WiFi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you´re looking for.
